h1 {
    font-size: 30px;
    text-align: center;
    color: #070f26
}

h2 {
    font-size: 30px;
    text-align: center;
    color: #070f26
}

p {
    font-size: 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #070f26
}

a {
    font-size: 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #de7471
}

body {
    background-color: #070f26;
    background-image: url("vignette_simplon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 40vh;
}

li {
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: #de7471
}